a {
    color: black;
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid black;
    margin-left: 1rem;
}

.panel {
    height: auto;
    justify-content: center;
    align-content: center;
}

.fas {
    font-size: 3rem;
    padding-left: 1rem;
    margin-left: 10px;
}

.menu {
    opacity: 0.7;
}

.menu-item {
    padding-bottom: 2rem;
    font-size: 2rem;
}

.large {
    font-size: 10rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.main-news {
    background-color: floralwhite;
}

.border {
    margin: 2rem;
    padding: 1rem;
}

.ad-panel {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float:right;

}